.form__container {
  form, .form {
    width: 360px;
    display: block;
    margin: 0 auto;

   .form__content {
      margin-bottom: 30px;
    }

    h1 {
      color: #333;
      font-size: 28px;
      margin: 40px;
      text-align: center;
    }

    .field_error {
      color: #EF5350;
      margin: 0 0 10px;
    }

    input {
      margin-bottom: 10px;
      padding:15px;
      width: 100%;
      font-size: 16px;
    }

    input[type=text],
    input[type=email],
    input[type=password] {
      box-sizing : border-box;
    }

    input,
    input::-webkit-input-placeholder {
        font-size: 16px;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-size: 16px;
    }

    ::-moz-placeholder { /* Firefox 19+ */
      font-size: 16px;
    }

    :-ms-input-placeholder { /* IE 10+ */
      font-size: 16px;
    }

    :-moz-placeholder { /* Firefox 18- */
      font-size: 16px;
    }

    button {
      display: block;
      padding: 15px;
      width: 100%;

      &:disabled {
        background-color: #ededed;
        color: #333;
        cursor: auto;
      }
    }
  }
}

button {
  background-color: #6359F2;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  padding: 7px 30px;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}
