// $deep_purple: #4A148C;
$deep_purple: #293345;
$light_purple: #6A1B9A;

$links__color: #333;

#ether_price_app {
}

header {
  @extend .container;
}

header.navigation {
  background-color: $light_purple;
}

nav {
  @extend .container;
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  padding: 40px 0;

  & ul {
    list-style: none;
  }

  & li {
    display: inline-block;
    margin-right: 30px;
  }

  & a {
    text-decoration: none;
    color: $links__color;
    display: block;
  }

  & a:hover {}

  .brand {
    color: $links__color;
    margin: 16px 0;
    font-size: 32px;
    // font-weight: 700;
  }
}

#chart__container {
  // @extend .container;
  background-color: #fff;
  padding: 0 40px 70px;

  .chart__type_group {
    margin: 0 0 30px;
    text-align: center;

    button {
      background-color: #ededed;
      border: 1px solid #fff;
      color: #333;
      font-size: 16px;
      padding: 7px 30px;

      &:hover {
        cursor: pointer;
      }

      &.active {
        background-color: #6359F2;
        color: #fff;
      }
    }

    .left {
      border-radius: 30px 0 0 30px;
    }

    .center {
      border-radius: 0 0 0 0;
    }

    .right {
      border-radius: 0 30px 30px 0;
    }
  }
}

#chart {
  @extend .container;
}

#EtherPrice__content {
  background-color: #EEEEEE;
  height: 100%;
  padding: 70px 0;

  section {
    @extend .container;
    background-color: #fff;
    border: 1px solid #E0E0E0;
    padding: 10px 30px 15px;

    h1 {
      color: #333;
      text-align: center;
    }

    table {
      width: 100%;
    }

    th, td {
      padding: 10px 10px;
    }

    th {
      background-color: #6359F2;
      color: #fff;
      font-weight: 300;
      text-align: right;
    }

    td {
      border-bottom: 1px solid #ededed;
      font-size: 15px;
      text-align: right;
    }
  }
}

