@import "./utilities";
@import "./chart";
@import "./auth";

.alert {
  @extend .container;

  background-color: #EF5350;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
}

.error__container {
  margin-bottom: 40px;
}

html, body, main {
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
}

